<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>웨얼와치: A place where i can watch it</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,100,1,200"
        />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="full-container">
            <!-- <div class="logo-container">
                <span class="material-symbols-rounded"> panorama_horizontal </span>
                <span>웨얼와치</span>
            </div> -->

            <div class="background-container"></div>
            <div class="searchbox-container">
                <div class="searchbox-field">
                    <div class="search-box">
                        <div class="logo-container">
                            <span class="material-symbols-rounded"> panorama_horizontal </span>
                            <span>웨얼와치</span>
                        </div>
                        <input type="text" placeholder="작품을 검색하세요..." />
                        <button data-action="search">
                            <span class="material-symbols-rounded"> search </span>
                        </button>
                    </div>

                    <div class="related-box">
                        <div class="content-group" id="tv-result">
                            <p>TV 프로그램</p>
                            <ul class="related-list">
                                <!-- <li>
                                    <div class="img-wrapper">
                                        <img src="/img/1.jpg" alt="" />
                                    </div>
                                    <div class="overlay-container">
                                        <h2>그 해 우리는</h1>
                                    </div>
                                </li>
                                <li>
                                    <div class="img-wrapper">
                                        <img src="/img/1.jpg" alt="" />
                                    </div>
                                </li>
                                <li>
                                    <div class="img-wrapper">
                                        <img src="/img/1.jpg" alt="" />
                                    </div>
                                </li>
                                <li>
                                    <div class="img-wrapper">
                                        <img src="/img/1.jpg" alt="" />
                                    </div>
                                </li>
                                <li>
                                    <div class="img-wrapper">
                                        <img src="/img/1.jpg" alt="" />
                                    </div>
                                </li> -->
                            </ul>
                            <button>그 외 23개의 검색결과 더 보기</button>
                        </div>

                        <div class="content-group" id="film-result">
                            <p>영화</p>
                            <ul class="related-list">
                                <!-- <li>
                                    <div class="img-wrapper">
                                        <img src="/img/1.jpg" alt="" />
                                    </div>
                                    <div class="overlay-container">
                                        <h2>그 해 우리는</h2>
                                    </div>
                                </li>
                                <li>
                                    <div class="img-wrapper">
                                        <img src="/img/1.jpg" alt="" />
                                    </div>
                                </li> -->
                            </ul>
                            <button>그 외 23개의 검색결과 더 보기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/indexEvents.js"></script>
    </body>
</html>
